{% extends "base.html" %}
{% block body %}
<section id="product" class="py-3 py-md-3">
    <h1 class="text-center col-md-12 text-bold">Products</h1>
    <hr>
    <div class="row">
      <div class=" col-lg-2 col-md-3">
      <nav class=" d-md-block bg-dark sidebar">
        <div class="position-sticky">
          <h3 class="sidebar-heading text-center  ">Categories</h3>
          <ul class="nav flex-column">
            {% for category in category  %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('showcategory',id=category.id)}}">{{category.name}}</a>
            </li>
            {% endfor %}
          </ul>
          <h3 class="sidebar-heading text-center">Brands</h3>
          <ul class="nav flex-column">
            {% for brand in  brands %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('showbrand',id=brand.id)}}">{{brand.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  <div class="col-md-9 col-lg-10">
    <div class="row">
    {% for products in products  %}
    <div class="col-md-3 col-lg-4">
      <div class="card" style="width: 17rem; margin:15px;">
        <img src="{{url_for('static', filename="/media/"+ products.image )}}" class="card-img-top" width="250px" height="250px" alt="...">
        <div class="card-body">
          <a href="{{url_for('productdetails', id=products.id )}}"><h5 class="card-title text-center">{{products.name}}</h5></a>
          <p class="card-text text-center fw-bold">Product Price:{{products.price}}/-</p>
            <a href="{{url_for('view_cart')}}" class="btn btn-warning rounded-0 form-control"><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  
  
  </div>
  <hr>
  </section>
{% endblock %}