{% extends "layout.html" %}
{% block body %}
<hr>
<section id="product" class="py-3 py-md-3">
  <h1 class="text-center col-md-12 text-bold">Products</h1>
  <hr>
  <div class="row">
    <div class=" col-lg-2 col-md-3">
    <nav class=" d-md-block bg-dark sidebar">
      <div class="position-sticky">
        <h3 class="sidebar-heading text-center  ">Categories</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#item1">Item 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#item2">Item 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#item3">Item 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#item4">Item 4</a>
          </li>
        </ul>
        <h3 class="sidebar-heading text-center  ">Brands</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#item1">Item 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#item2">Item 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#item3">Item 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#item4">Item 4</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<div class="col-md-9 col-lg-10">
  <div class="row">
  <div class="col-md-3 col-lg-4">
    <div class="card" style="width: 18rem; margin:15px;">
      <img src="/images/Table fan.jpg" class="card-img-top" width="250px" height="250px" alt="...">
      <div class="card-body">
        <a href=""><h5 class="card-title text-center">ABS Blue Table Fan</h5></a>
        <p class="card-text">Color Keeping our synchronization with the development taking place in this industry</p>
        <a href="#" class="btn btn-warning rounded-0 form-control"><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-4">
  <div class="card" style="width: 17rem; margin:15px;">
    <img src="/images/Led.jpg" class="card-img-top" width="250px" height="250px" alt="...">
    <div class="card-body">
      <a href=""><h5 class="card-title text-center">Crompton 20 W Standard </h5></a>
      <p class="card-text">Power Consumption: 20 W
        Cool Daylight (6500-7500K)
        Light Color: White
        2100 Lumen</p>
        <a href="#" class="btn btn-warning rounded-0 form-control"><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a>
    </div>
  </div>
</div>
<div class="col-md-3 col-lg-4">
  <div class="card" style="width: 17rem; margin:15px;">
    <img src="/images/Bajaj Induction.jpg"   width="250px" height="250px"class="card-img-top" alt="...">
    <div class="card-body">
      
        <a href=""><h5 class="card-title text-center">Bajaj ICX 200FP 2000 W Induction Cooktop</h5></a>
      <p class="card-text">Bajaj ICX 200FP 2000W Induction Cooktop, </p>
      <a href="#" class="btn btn-warning rounded-0 form-control"><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a>
    </div>
  </div>
</div>
<div class="col-md-3 col-lg-4">
  <div class="card" style="width: 17rem; margin:15px;">
    <img src="/images/calling bell.jpg" class="card-img-top"  width="250px" height="250px" alt="...">
    <div class="card-body">
      <a href=""><h5 class="card-title">AJ Sakshi Wireless Cordless Calling Remote Door Bell for</h5></a>
      <p class="card-text">1 wireless doorbell + 1 Doorbell push button transmitter + 1 battery pack for trigger push button included in the pack</p>
      <a href="#" class="btn btn-warning rounded-0 form-control"><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a>
    </div>
  </div>
</div>
<div class="col-md-3 col-lg-4">
  <div class="card" style="width: 17rem; margin:15px;">
    <img src="/images/tube light.jpg" class="card-img-top"  width="250px" height="250px"  alt="...">
    <div class="card-body">
      <a href=""><h5 class="card-title">Crompton Laser Ray Neo 36W LED</h5></a>
      <p class="card-text">
        Brand	Crompton
        Light Type	LED
        Special Feature	Energy Efficient
        Wattage	36 Watts
        Bulb Base	E27
        Specific Uses For Product	Lamps
        </p>
      <a href="#" class="btn btn-warning rounded-0 form-control"><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a>
    </div>
  </div>
</div>
<div class="col-md-3 col-lg-4">
  <div class="card" style="width: 17rem; margin:15px;">
    <img src="/images/ceilling.webp" width="250px" height="250px"
    class="card-img-top" alt="...">
    <div class="card-body">
      <a href=""><h5 class="card-title">PowerHouse Brown 1200 mm Ceiling Fan Swift</h5></a>
      <p class="card-text">Buy PowerHouse Brown 1200 mm Ceiling Fan Swift online in India at wholesale rates. </p>
      <a href="#" class="btn btn-warning rounded-0 form-control"><i class="fa-solid fa-cart-shopping"></i>Add to Cart</a>
    </div>
  </div>
</div>


</div>


</div>
<hr>
</section>
{% endblock  %}